//HEADING

h1 {
  font: {
    size: 36px;
    family: 'Montserrat';
    weight: 700;
  }
  margin:0;
  padding:0;
}

h2 {
  font: {
    size: 24px;
    family: 'Montserrat';
    weight: 400;
  }
  margin:0;
  padding:0;
}

h3 {
  font: {
    size: 22px;
    family: 'Montserrat';
    weight: 400;
  }
  margin:0;
  padding:0;
}

h4 {
  font: {
    size: 16px;
    family: 'Open Sans';
    weight: 400;
  }
  margin:0;
  padding:0;
}
